.noodle-page-section {
    margin: 0.5rem;
}

.noodle-selectbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.noodle-formitem {
    width: 95%;
}

.noodle-title {
    font-size: 1.3rem;
    padding: 0.5rem;
    background-color: #fafbfc;
}

.noodle-adm-list-card {
    margin: 0;
}

.noodle-add {
    text-align: center;
    padding: 1rem;
}