.hotfood-page-section {
    margin: 0.5rem;
}

.hotfood-selectbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hotfood-formitem {
    width: 95%;
}

.hotfood-title {
    font-size: 1.3rem;
    padding: 0.5rem;
    background-color: #fafbfc;
}

.hotfood-adm-list-card {
    margin: 0;
}

.hotfood-add {
    text-align: center;
    padding: 1rem;
}

.note {
    text-align: center;
    font-size: 1rem;
}