.page-section {
    margin: 0.5rem;
}

.selectbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.formitem {
    width: 95%;
}

.title {
    font-size: 1.3rem;
    padding: 0.5rem;
    background-color: #fafbfc;
}

.adm-list-card {
    margin: 0;
}

.add {
    text-align: center;
    padding: 1rem;
}