.rice-page-section {
    margin: 0.5rem;
}

.rice-selectbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rice-formitem {
    width: 95%;
}

.rice-title {
    font-size: 1.3rem;
    padding: 0.5rem;
    background-color: #fafbfc;
}

.rice-adm-list-card {
    margin: 0;
}

.rice-add {
    text-align: center;
    padding: 1rem;
}